<!DOCTYPE html>
<html>
<head>
  <title>jsonp</title>
  <script src="angular.js"></script>
  <script src="demo.js"></script>
</head>
<body ng-app="app" ng-controller="weatherController">
  <div>
    <form>
      <input ng-model='loc' ng-change="getFeed()" ng-model-options="{debounce:500}" />
    </form>
    <div ng-show="spinner">Loading!!!</div>
    <h2>{{weather.name}}</h2>

    <div ng-repeat="weather in weather.weather">
      <p>{{weather.description}}</p>
      <img ng-src="http://openweathermap.org/img/w/{{weather.icon}}.png" />
    </div>

  </div>
</body>
</html>











<!--
Model Options Debounce - ng-model-options="{debounce: 500}"
 -->












<!-- Initial state -->

<!--
<!DOCTYPE html>
<html>
<head>
  <title>jsonp</title>
  <script src="angular.js"></script>
  <script src="demo.js"></script>
</head>
<body ng-app="app" ng-controller="weatherController">
  <div>
    <form>
      <input ng-model='loc'/>
      <button >Click</button>
    </form>
    <div ng-show="spinner">Loading!!!</div>
  </div>
</body>
</html> -->
